.layout {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
    padding: 0 36px;
}

@media screen and (max-width: 940px) {
    .layout {
        --content-position: 1/-1;
        padding: 0 24px;
        grid-template-columns: repeat(8, 1fr);
    }
}


@media screen and (max-width: 540px) {
    .layout {
        --content-position: 1/-1;
        padding: 0 16px;
        grid-template-columns: repeat(4, 1fr);
    }
}
