
main {
    grid-column: var(--content-position);
}

.post {
    display: block;
    text-decoration: none;
    padding: 26px 22px;
    background: #fff;
    border-radius: var(--radius);
    color: var(--color-blue-deep);
    border-bottom: 8px solid var(--color-blue-05);
    margin-bottom: 46px;
}

.post:hover {
    transition: all ease-in 0.2s;
    border-bottom: 8px solid var(--color-blue);
}

.post .post__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}


.post .post__subtitle {
    font-size: 18px;
    font-weight: 300;
}


.postNotFound {
    padding: 26px 22px;
    border-radius: var(--radius);
    color: var(--color-blue-deep);
    text-align: center;
    margin-bottom: 46px;
}

.post__page {
    background: #fff;
    height: 100vh;
}

.breadcrumb {
    margin: 32px  24px;
    color: var(--color-blue-deep);
}

.breadcrumb>a {
    text-decoration: none;
    color: var(--color-blue-05);
}

.breadcrumb>a::after {
    content: '>';
}

.breadcrumb>a:hover {
    color: var(--color-blue-deep);
}

.comment__wrapper .comments-header {
    background: var(--color-blue);
    color: #fff;
    font-size: 24px;
    padding: 18px 20px;
}

.fullPost {
    background: #fff;
    border-radius: var(--radius);
    overflow: hidden;
    margin-bottom: 46px;
}

.fullPost>.post {
    border-bottom: none;
    margin-bottom: 46px;
}

.formComment>.textarea {
    padding-top: 13px;
    height: 150px;
    resize: none;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
}

.formComment>.btn-container {
    padding: 20px;
}

.formComment>.btn-container>button {
    max-width: 300px;
}

.comment {
    padding: 24px 0;
    border-bottom: 1px solid var(--color-border);
}

.comment:last-child {
    border-bottom: 1px solid transparent;
}

.comment>.name {
    padding-bottom: 16px;
}

.comment>.name>span {
    color: rgba(69, 122, 191, 0.3);
}

.comments {
    padding: 0 24px;
}

.fullPostContainer {
    grid-column: var(--content-position);
}